.review_container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid #e5e7eb;
    padding-top: 16px;
    font-family:"Amazon Ember", Arial, sans-serif;
    font-size: 14px;
}

.review_first_row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.review_first_row img{
   height: 40px;
   width: 40px;
   object-fit: cover;
   border-radius: 50%;
}


.review_second_row{
    display: flex;
    gap: 12px;
}

p{
    max-width: 400px;
    font-size: 15px;
}

.date {
    color: #565959;
}

.title{
    font-weight: 700;
    margin-right: 8px;
    position: relative;
    top: 1px;
}