.scroll_container {
  overflow-x: auto;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 24px;
  border: 1.5px solid #e5e7eb;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  user-select: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: auto;
}

.scroll_order_image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Nasconde scrollbar per Chrome, Safari and Opera */
.scroll_container::-webkit-scrollbar {
  display: none;
}

/* Classi per cambiare il cursore dinamicamente */
.cursor_grab {
  cursor: grab;
}

.cursor_grabbing {
  cursor: grabbing;
}

.single_order {
  width: 100%;
  padding: 16px;
}

.order_title {
  line-height: 1.57;
  font-weight: 700;
  font-size: 14px;
}

.order_id_date {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  color: #64748b;
}

.price_shipping_container {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.shipping_reorder_div {
  display: flex;
  gap: 16px;
  margin-top: 0px;
}

.shipping_reorder_div button {
  text-transform: none;
  font-size: 13px;
}
